.card {
    background: white;
    box-shadow: 0 2px 8px black;
    border-radius: 10px;
    display: block;
    justify-content:space-around;
    padding: 2rem 2rem;
    margin-top: 2rem;
    margin-left: 25%;
    width: 50rem;
}